<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>代理软件下载链接</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>代理软件下载加速链接：</h1>
    <p>
        以下是各个代理软件(含浏览器扩展)的Github最新版本:</p>
    <ul>
        <% for (item of datas) { %>
            <li>
                <a href="#<%= item.repo %>"><%= item.repo %></a>
            </li>
        <% } %>
    </ul>
    <% for (item of datas) { %>
        <h2 id="<%= item.repo %>"><%= item.repo %>
            <small><%= item.tag_name %></small>
        </h2>
        <p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>文件名</th>
                <th>文件大小</th>
                <th>下载次数</th>
                <th>修改时间</th>
                <th>链接</th>
            </tr>
            </thead>
            <tbody>
            <% for(asset of item.assets){ %>
            <tr>
                <td>
                    <a href="<%= asset.fastgit_url %>">
                        <span><%= asset.name %></span>
                    </a>
                </td>
                <td>
                    <%= asset.size %>
                </td>
                <td>
                    <%= asset.download_count %>
                </td>
                <td>
                    <%= asset.updated_at %>
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-default" href="<%= asset.browser_download_url %>">
                            <span>原始链接</span>
                        </a>
                        <a class="btn btn-default" href="<%= asset.fastgit_url %>">
                            <span>fastgit</span>
                        </a>
                        <a class="btn btn-default" href="<%= asset.ghproxy_url %>">
                            <span>ghproxy</span>
                        </a>
                    </div>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
    <% } %>
</div>
</body>
</html>