<% var title="订阅信息"%>
<%- include('utils/header', {title}); %>
<body>
<div class="container">
    <h3>温馨提示：</h3>
    <p>
        带filter的是过滤无效节点并精选的结果（建议优先使用）。强烈建议使用clash作为客户端，具有自动测试节点的功能和完善的规则。
    </p>
    <p>
        相关软件<a href="/sub/download">下载链接</a><br>
        <a href="/sub/cache">立即更新</a>订阅缓存
    </p>

    <h3 class="card-heading">Telegram 代理:</h3>
    <p>
        <% for (const tgproxy of tgproxys) { %>
            <a href="<%= tgproxy.url %>"><%= tgproxy.name %></a>
        <% } %>
    </p>

    <h3>Your Subscribe:</h3>
    <p>
        当前账户过期时间：<%= expire %><br>
        <% for (const index in ret) { %>
            <%= index %>:
            <a href="<%= path %>&ctype=<%= index %>">
                <%= path %>&ctype=<%= index %>
            </a>

            <br>
            <% if (ret[index]) { %>
                过去已用：<%= ret[index].total_use %> 总量:<%= ret[index].total %> 过期时间：<%= ret[index].expire %>
                用量比：<%= ret[index].use_percent %>%
                日期比：<%= ret[index].date_percent %>%<br>
            <% } %>

        <% } %>
    </p>
</div>
</body>
</html>
